{% extends 'personalblogapp/base.html' %}
{% load my_tags %}

{% block container %}
  {% if request.user.is_authenticated %}
    {% include 'personalblogapp/inc/inc_auth_menu.html' %}

    <h2 class="">Лента новостей</h2>

    {% for post in posts %}
      {% if post.pk|is_read:request.user.pk == 'прочитан' %}
        <div class="text-success">
      {% else %}
        <div class="text-danger">
      {% endif %}
    User: {{ post.user }} <br>
    Title: {{ post.title }} <br>
    Text: {{ post.text }} <br>
    Create: {{ post.created }} <br>
    Upd: {{ post.updated }}
    <form action="{% url 'read-post' %}" method="post">
      {% csrf_token %}
      <input type="hidden" name="read" value={{ post.pk }}>
      <input type="submit" value={{ post.pk|is_read:request.user.pk }}>
    </form>
    </div>
      {% if post.user == request.user %}
        Это мой пост
        <a href="{% url 'update-post' post.pk %}" class="btn btn-success">
          можно обновить</a>
        <a href="{% url 'remove-post' post.pk %}" class="btn btn-danger">
          или удалить</a><br>
      {% endif %}
      <br>
    {% endfor %}

  {% else %}
    {% include 'personalblogapp/inc/inc_unauth_menu.html' %}
  {% endif %}
{% endblock %}