{% extends 'personalblogapp/base.html' %}

{% block container %}
  {% if request.user.is_authenticated %}
    {% include 'personalblogapp/inc/inc_auth_menu.html' %}

    <h2 class="">Подписаться/отписаться на блог пользователя</h2>
    Мои текущие подписки на блоги авторов:
    {% for subscribe in subscribes %}
      <b>{{ subscribe.author_blog }}, </b>
    {% endfor %}
    <form action="" method="post">
      {% csrf_token %}
      {{ form.as_p }}
      <input type="submit" value="Create"/>
    </form>

  {% else %}
    {% include 'personalblogapp/inc/inc_unauth_menu.html' %}
  {% endif %}
{% endblock %}
