{% extends 'personalblogapp/base.html' %}

{% block container %}
  {% if request.user.is_authenticated %}
    {% include 'personalblogapp/inc/inc_auth_menu.html' %}

    <h2 class="">Мои посты</h2>
    {% for post in posts %}
      <div>
        <a href="{% url 'post-page' post.pk %}" class="post_link">
          Title: {{ post.title }} <br>
          Text: {{ post.text }} <br>
          Create: {{ post.created }} <br>
          Upd: {{ post.updated }} <br>
        </a><br>
        <a href="{% url 'update-post' post.pk %}" class="btn btn-success">
          Обновить пост</a>
        <a href="{% url 'remove-post' post.pk %}" class="btn btn-danger">
          Удалить пост</a><br>
        <br>
      </div>
    {% endfor %}
    <h3><a href="{% url 'create-post' %}">Создать пост</a></h3>

  {% else %}
    {% include 'personalblogapp/inc/inc_unauth_menu.html' %}
  {% endif %}
{% endblock %}